extends layout

block content

    h1 #{title}
    br
    ul.list-group
        each article in articles
                li.list-group-item
                    a(href="/article/"+article.id)= article.title